extends layout

block content
  h1= title
  p Welcome to #{title}



  h2 Go through records and scrape records
  form(action="/movies/scrape", method="post")
    input(type="submit" value="SCRAPE")


  h2 Go through records and add images
  form(action="/movies/addimages", method="post")
    input(type="submit" value="ADD IMAGES")


  h2 Creating a new Movie
  form(action="/movies/create", method="post", enctype="multipart/form-data")
    p Movie Title:
    input(type="text", name="movie_title")
    p Studio:
    input(type="text", name="studio")
    p Year:
    input(type="text", name="year")
    p Box Office $:
    input(type="text", name="box_office")
    p Picture:
    input(type="file", name="picture")
    input(type="submit")




  h2 DataTables

  table(id="movie_table" class="display")
    thead
      tr
        th Movie Title
        th Studio
        th Year
        th Box Office
        th Picture




  h2 Movies

  table
    tr
      th Movie Title
      th Studio
      th Year
      th Box Office
      th Picture
    each movie in movies
      tr
        td= movie.movie_title
        td= movie.studio
        td= movie.year
        td= movie.box_office
        td
          img(src="http://panogi.com/#{movie.picture}")
        td 
          a(href="/movies/" + movie.id + "/destroy") Destroy
        td
          a(href="/movies/" + movie.id) Update




  script(type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.6/jq-2.2.3/dt-1.10.12/b-1.2.2/datatables.min.js")


  script.
    
    var result_data = "#{postAsJSON}".replace(/&quot;/g,'"');

    var parsed = JSON.parse(result_data);
    var resulting_array = [];
    resulting_array['data'] = parsed);


    $(document).ready( function () {
      $('#movie_table').DataTable(
      {
        paging: true,
        data: resulting_array,
        columns: [
      { data: "movie_title"},
      { data: "studio"},
      { data: "year"},
      { data: "box_office"}
    ]

      });
    } );