extends layout

block content
  h1= title
  p Welcome to #{title}



  h2 Go through records and scrape records
  form(action="/movies/scrape", method="post")
    input(type="submit" value="SCRAPE")


  h2 Go through records and add images
  form(action="/movies/addimages", method="post")
    input(type="submit" value="ADD IMAGES")


  h2 Creating a new Movie
  form(action="/movies/create", method="post", enctype="multipart/form-data")
    p Movie Title:
    input(type="text", name="movie_title")
    p Studio:
    input(type="text", name="studio")
    p Year:
    input(type="text", name="year")
    p Box Office $:
    input(type="text", name="box_office")
    p Picture:
    input(type="file", name="picture")
    input(type="submit")




  h2 DataTables

  table(id="movie_table" class="display")
    thead
      tr
        th Movie Title
        th Studio
        th Year
        th Box Office
        th Picture




  h2 Movies

  table
    tr
      th Movie Title
      th Studio
      th Year
      th Box Office
      th Picture
    each movie in movies
      tr
        td= movie.movie_title
        td= movie.studio
        td= movie.year
        td= movie.box_office
        if movie.picture
          td
            img(src="http://panogi.com/#{movie.picture}")
        else
          td
            p Image Missing
        td 
          a(href="/movies/" + movie.id + "/destroy") Destroy
        td
          a(href="/movies/" + movie.id) Update

  
  p Number of rows
  select(id="paginate")
    option(value=5) 5
    option(value=10) 10
    option(value=20) 20
    option(value=ALL) ALL


  a(class='button', href='?page=#{prev_page}') Previous Page
  a(class='button', href='?page=#{next_page}') Next Page



  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')


  script.
    $(function(){
      // bind change event to select
      $('#paginate').on('change', function () {
          var url = '/movietracker?page=0&rows=' + $(this).val(); // get selected value
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });
    });

    if("#{numrow}" == 5){
      console.log("IT IS 5")
    }
    if("#{numrow}" == 10){
      console.log("IT IS 10")

    }
    if("#{numrow}" == 20){
      console.log("IT IS 20")

    }
    if("#{numrow}" == 'ALL'){
      console.log("IT IS ALL")

    }


