extends layout

block content
  
  div(id="centered_div")
    a(href="/movies/table/datatable") back

    h2 Modify movie named: #{movie.movie_title}


    form(action="/movies/#{movie.id}/update", method="post", enctype="multipart/form-data")
      p Movie Title:
      input(type="text", name="movie_title", value="#{movie.movie_title}")
      p Studio:
      input(type="text", name="studio", value="#{movie.studio}")
      p Year:
      input(type="text", name="year", value="#{movie.year}")
      p Box Office $:
      input(type="text", name="box_office", value="#{movie.box_office}")
      p Picture:
      input(type="file", name="picture", value="#{movie.picture}")
      input(type="submit" class="btn btn-primary")


    img(src="http://panogi.com/#{movie.picture}")


  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
  script(src='https://cdn.datatables.net/v/bs-3.3.6/jq-2.2.3/dt-1.10.12/datatables.min.js')
