extends layout

block content
  h2 edit movie


  = movie.movie_title

  h2 Edit Movie

  form(method="post", action="/#{movie._id/update")
  input(type="hidden", name="_method", value="PUT")

  p Movie Title:
  input(type="text", name="movie_title", value="#{movie.movie_title}")
  p Studio:
  input(type="text", name="studio", value="#{movie.studio}")
  p Year:
  input(type="text", name="year", value="#{movie.year}")
  p Box Office $$$:
  input(type="text", name="box_office", value="#{movie.box_office}")
  p Picture:
  img(src="http://www.panogi.com/#{movie.picture}")
  input(type="file", name="picture", value="#{movie.picture}")
  br

  input(type="submit", name="submit")